body{
    margin: 0;
}

header{
    text-align: center;
    color: #000080;
    font-family: 'Times New Roman', Times, serif;
    margin: 16px 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

ul li{
    margin-bottom: 2em;
}

.column-one ul li p{
    margin-top: 0;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #000080;
}

.column-two ul li p{
    margin-top: 0;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #000080;
}

.geico-section{
    text-align: center;
    color: #000080;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

.geico-section h1{
    margin-bottom: 0;
}

.geico-section p{
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-paragraph{
    color: #000080;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    margin: 13px 0px;
}

.disclaimer-copyright{
    margin: 16px 0px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: #000080;
}
