body{
    margin: 0;
}

header{
    text-align: center;
    color: #000080;
    font-family: 'Times New Roman', Times, serif;
    margin: 1em
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

ul li{
    margin-bottom: 2em;
}

/* main{
    border-style: solid;
} */

footer{
    border-style: solid;
}